html {
    width: 100%;
    font-size:62.5%;
    overflow-x : hidden;
    overflow-y : auto;
    scroll-behavior: smooth;
}

body {
    background-color: #E6F2E8;
    margin: 0;
    padding: 0;
}

header {
    margin-left: 100px;
    display: flex;
}

header div {
    text-align: center;
}

header div a {
    text-align: center;
    color: #466A55;
    text-decoration: none;
}

header .portfolio {
    font-size: 4rem;
    font-family: Ayuthaya;
    color: #466A55;
    margin-bottom: 0;
}

header .name {
    font-size: 2rem;
    font-family: Ayuthaya;
    color: #466A55;
    margin-top: 0;
}

.menu {
    position: fixed;
    writing-mode: vertical-rl;
    display: flex;
    gap: 30px;
    height: 100%;
    margin-top: 0;
    right: 30px;
    top: 130px
}

.menu li {
    color: #466A55;
    font-size: 2rem;
    font-family: Ayuthaya;
    list-style:none;
}

.menu li a {
    color: #466A55;
    text-decoration: none;
}

.menu li a:hover{
    color: #BF5858;
}

.hamburgermenu {
    display: none;
}

main {
    text-align: center;
    margin-top: 50px;
}

main h2 {
    font-size: 4rem;
    color: #4C7158;
    font-family: 'Edu NSW ACT Foundation', cursive;
    background-image : linear-gradient(to right, #4C7158 15px, transparent 0px);
    background-size: 34px 2px;
    background-repeat: repeat-x;
    background-position: left bottom;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
}

main .banner {
    font-size: 3rem;
    color: #4C7158;
    font-family: 'Edu NSW ACT Foundation', cursive;
    margin: 0;
    padding-top: 20px;
}

main .container {
    margin-top: 50px;
    display: inline-grid;
}

main .image {
    position: relative;
    width: 750px;
    height: 650px;
}

main img {
    width: 524px;
    height: 524px;
    box-shadow: 0px 0px 20px -11px #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main .box {
    background-color: #fff;
    width: 750px;
    height: 650px;
    border-radius: 64vh 59vh 70vh 55vh/75vh 95vh 70vh 90vh;
}

main .detail {
    margin-top: 50px;
    text-align: left;
    display: inline-block;
    width: 750px;
}

.detail1_1 {
    font-size: 2rem;
    color: #466A55;
    font-family: Ayuthaya;
    border-left: 3px solid #466A55;
    padding: 2px 8px;
}

.detail1_2 {
    font-size: 1.5rem;
    color: #000;
    font-family: Ayuthaya;
    margin-left: 13px;
    margin-bottom: 50px;
}

.back {
    width: 150px;
    height: 50px;
    margin: 0 auto;
    line-height: 2;
    font-size: 2rem;
    border-radius: 124vh 84vh 85vh 80vh/75vh 95vh 70vh 90vh;
    background-color: #466A55;
    margin-top: 12px;
}

.back a {
    color: #fff;
    text-decoration: none;
}

.back:hover {
    background-color: #fff;
}

.back:hover a{
    color: #466A55;
}

footer {
    height: 120px;
    background-color: #466A55;
    text-align: center;
    margin-top: 70px;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer_portfolio p{
    font-size: 4rem;
    color: #fff;
    font-family: Ayuthaya;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

footer img {
    width: 32px;
    height: 34px;
}

footer p {
    font-size: 2rem;
    color: #fff;
    margin: 0;
    margin-top: 11px;
}

@media screen and (max-width: 767px) {
    
    header {
        margin-left: 30px;
    }
    
    header .portfolio {
        font-size: 3rem;
    }
    
    header .name {
        font-size: 1.5rem;
    }
    
    .menu {
        display: none;
    }

    main {
        margin-top: 20px;
    }

    .hamburgermenu {
        display: block;
    }
    
    .hamburger {
        cursor: pointer;
        background-color: #466A55;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        right: 30px;
        top: 30px;
        position: fixed;
        z-index: 100;
    }

    .hamburger.active {
        background-color: #fff;
    }

    .hamburger span {
        position: absolute;
        background-color: #fff;
        display: inline-block;
        transition: all .3s;
        height: 2px;
        width: 50%;
        display: inline-block;
        left: 13px;
    }

    .hamburger span:nth-of-type(1) {
        top:15px;	
    }
    
    .hamburger span:nth-of-type(2) {
        top:23px;
    }
    
    .hamburger span:nth-of-type(3) {
        top:31px;
    }
    
    .hamburger.active span:nth-of-type(1) {
        top: 18px;
        transform: translateY(6px) rotate(-45deg);
        width: 50%;
        background-color: #466A55;
    }
    
    .hamburger.active span:nth-of-type(2) {
        opacity: 0;
    }
    
    .hamburger.active span:nth-of-type(3){
        top: 30px;
        transform: translateY(-6px) rotate(45deg);
        width: 50%;
        background-color: #466A55;
    }

    #nav {
        position: fixed;
        background-color: #466A55;
        top: 0;
        width: 100%;
        height: 100vh;
        transition: all 0.3s;
        z-index: -1;
        right: -120%;
    }

    #nav.active {
        right: 0;
        z-index: 10; 
    }

    .humburger_list {
        text-align: center;
        margin-top: 200px;
        padding-left: 0;
    }

    .humburger_list li {
        list-style: none;
        font-size: 2rem;
        margin-bottom: 40px;
    }

    .humburger_list li a {
        color: #fff;
        text-decoration: none;
    }

    .humburger_list li a:hover {
        text-decoration: underline;
        text-decoration-color: #fff;
    }
    
    main h2{
        font-size: 3rem;
        background-image : linear-gradient(to right, #4C7158 13px, transparent 0px);
        background-size: 23px 2px;
        padding-bottom: 10px;
    }

    main .banner {
        font-size: 2.5rem;
        padding-top: 10px;
    }
    
    main .container {
        margin-top: 30px;
    }
    
    main .image {
        width: 320px;
        height: 300px;
        margin: 0 auto;
    }
    
    main img {
        width: 230px;
        height: 230px;
    }
    
    main .box {
        width: 320px;
        height: 300px;
    }
    
    main .detail {
        width: 80%;
        margin: 30px auto 0;
    }
    
    .detail1_1 {
        font-size: 1.7rem;
        border-left: 3px solid #466A55;
        padding: 2px 8px;
    }
    
    .detail1_2 {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }
    
    .back {
        width: 100px;
        height: 30px;
        line-height: 2;
        font-size: 1.5rem;
        margin-top: 10px;
    }
    

    footer {
        height: 50px;
        margin-top: 50px;
    }

    footer .footer_portfolio p{
        font-size: 2rem;
    }

    footer img {
        width: 20px;
        height: 21px;
    }
    
    footer p {
        font-size: 1.2rem;
        margin-top: 0px;
    }
}